body{
	width: 100%;
	height: 100%;
}
li{
	display: inline-block;
	padding-left: 30px;
	padding-top: 20px;
}
.d-header{
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-left: 140px;
	padding-right: 140px;
	vertical-align: middle;
}
.menu{
	color: #707070;
	font-size: 20px;

}
.search{
	padding-top: 20px;
}
.d-section{
	padding-top: 65px;
	padding-left: 140px;
	padding-right: 140px;
	padding-bottom: 50px;
}
.map{
	background: url('../img/map.svg');
	width: 1086px;
	height: 403px;
	background-size: cover;
	background-position: center;
 	background-repeat: no-repeat;
 	padding-top: 65px;
 	
}
.d-footer{
	width: 100%;
	background-color: #2E2E2E; 
	position: relative;
} 
.logow{
	padding-top: 60px;
	padding-left: 140px;
	display: inline-block;
	padding-bottom: 50px;
}
.contact{
	position: absolute;
	top:50%;
	display: inline-block;
	padding-left: 200px;
}
.address{
	position: absolute;
	top: 50%;
	right: 30%;
	display: inline-block;
	padding-left: 200px;
}
h3{
	color: #F2F2F2;
	font-size: 20px;
}
p{
	color: #F2F2F2;
	font-size: 13px;
}
.icons{
	position: absolute;
	top: 50%;
	right: 0;
	display: inline-block;
	padding-left: 115px;
	padding-right: 140px; 
}
.icons:first-child{
	display: inline-block;
	padding-right: 30px;
}
